html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #000;
}
img{
    max-width: 100%;
    height: auto;
}
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  background: #914dd0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.site-header h1 {
  color: #fff;
  margin: 0;
  padding: 16px 0 10px 20px;
  font-size: 1.3rem;
  font-family: sans-serif;
  letter-spacing: 1px;
  background: none; 
}


.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: none;
  box-shadow: none;
  padding: 0 18px 0 0;
  position: static;
  gap: 12px;
  width: auto;
}

.bottom-nav button {
  border: none;
  background: none;
  font-size: 1.1em;
  color: #fff;
  padding: 10px 15px;
  border-radius: 7px;
  cursor: pointer;
  transition: background 0.2s;
}
.bottom-nav button:hover,
.bottom-nav button:focus {
  background: #fff2;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 1px; 
  margin-left: 20px;
}

.stema-logo {
  height: 36px;
  width: auto;
  display: block;
}

.site-header h1 {
  padding: 16px 0 10px 0; 
}

/* Mobile Nav */
@media (max-width: 767px) {
  .site-header {
    flex-direction: column;
    align-items: stretch;
  }

  .bottom-nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    width: 100vw;
    background: #914dd0;
    box-shadow: 0 -2px 24px #0005;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    z-index: 120;
    padding: 12px 0;
    gap: 0;
    justify-content: space-around;
  }
  .site-header h1 {
    padding-bottom: 9px;
  }
}
